html {
	background-color: #bdb9a0;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 3rem;
	font-family: 'Bevan', cursive;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
	font-family: 'Bevan', cursive;
}

blockquote {
	font-weight: bold;
	font-size:1rem;
}
